services:
  - type: web
    name: mal-api
    runtime: docker
    plan: free
    region: singapore
    envVars:
      - key: NODE_ENV
        value: production

  - type: cron
    name: mal-anime-updater
    runtime: docker
    plan: free
    region: singapore
    schedule: "0 0 * * *"  # Daily at midnight UTC
    dockerCommand: npm run db:update
    envVars:
      - key: NODE_ENV
        value: production
